<ul class="header">
  <li><a href="#home">Dr. Diana Gordick</a></li>
  <li><a href="#news">News</a></li>
  <li><a href="#contact">Contact</a></li>
  <li><a href="#about">About</a></li>
</ul>
<h2>Epic header</h2>
