<!DOCTYPE html>
<html>
    <head>
        <%- include('head.ejs') %>
    </head>
    <body>
        <%- include('header.ejs') %>
        <h1><%= message %></h1>
        <p>This is a paragraph rendered with EJS</p>
    </body>
</html>
